{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<style>
    h3{
        color:red;
    }
    .form{
        display: grid;
        place-items: center;
        position: relative;
        top: 100px;
        
    }
    .btng{
            color: black;
            text-decoration: none;
            background-color: #B1D0E0;
            padding: 10px 30px;
            border-radius: 5px;
            font-family: sans-serif;
            font-weight: 100;
            float: left;
            position: relative;
            top: 10px;
            /* right: 0px; */
            left: 10px;
        }
    p{
        position: relative;
        top:-10px;
        font-family: sans-serif;
        letter-spacing: 5px;
    }
    form{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .inp{
        padding: 8px 30px;
        border-radius: 10px;
        border: none;
        margin-top: 25px;
    }
    .inp:focus{
        border: none;
        outline: none;
    }
    .btn{
        padding: 8px 30px;
        border-radius: 5px;
        border: none;
    }
    .link{
        text-decoration: none;
    }
</style>

<a href="/" class="btng">back</a>
{% for message in messanges %}
<h3>{{message}}</h3>
{% endfor %}
<div class="form">
    <form method="POST" action="login">
        {% csrf_token %}
        <h1>Sign In</h1>
        <input type="text" class="inp" placeholder="username" name="username" />
        <input type="password" class="inp" placeholder="password" name="password" />
        <br><br>
        <p>New user?<a class="link" href="/register"> Sign Up</a></p>
        <input class="btn" type="submit" />
        </form>
</div>
